body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.top-bar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.main-content {
    height: calc(100% - 40px); /* Adjust height based on the top bar height */
    position: relative;
}

#map {
    height: 100%;
}