/* Contributors: Noah, Warren */

@keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

.top-buttons:hover{
    color:rgba(18, 17, 17, 0)
}
.top-buttons{
    flex:1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3rem;
    /* background-color: #1e274f; */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    color: white;
    text-align: center;
}

.top-bar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.logo {
    font-weight: bold;
}

.active {
    background-color: #238636;
}

/* MAP STUFF */
#map {
    height: 650px;
    width: 600px;
    margin: 0;
}

#map-wrapper{
    flex: 3; 
    display: flex;
    justify-content: center; 
    align-items: start;
}

#flex-container{
    display: flex;
    justify-content: space-between; /* This will place the sidebars at the edges */
    align-items: start;
}

#left-sidebar, #right-sidebar {
    flex: 1; /* This will allow the sidebars to take up equal space on the sides */
    padding: 20px; /* Adjust padding as needed */
    text-align: left;
}

#info-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px 0; 
    gap: 10px; 
}

#secret-country{
    size:0px;
}

/* SEARCH BAR */
#country-searchbar, #calendar{
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 10px;
}

#searchbar-and-suggestions{
    position: relative;
    align-items: center;
    margin-right: 0;
    flex-grow: 2;
}

#search-suggestions {
    position: fixed;
    width: 100%; /* match the width of the search bar */
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* shadow for better visibility */
    z-index: 1000;
}

.suggestion-button{
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    text-align: left;
    cursor: pointer;
}

.suggestion-button:hover {
    background-color: #e0e0e0;
}

#location {
    position:relative;
    margin: auto;
    flex:1;
}

html {
    overflow: hidden;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.page-content {
    width: 60%;
    border-radius: 10px;
    border-style: solid;
    margin: auto;
    text-align: center;
    min-height: 80%;
}

.main-content {
    height: calc(100% - 40px); /* Adjust height based on the top bar height */
    position: relative;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

/* LOG IN STUFF */
#login-body, .register-body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("dark-clouds.jpg");
}

.body-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.login-title {
    background-color: rgba(213, 214, 219, 0.4);
    padding: 15px;
    text-align: center;
    border-radius: 7px 7px 0px 0px;
    backdrop-filter: blur(6px);
}

.window-container {
    padding-bottom: 110px;
}

.main-window {
    /*animation: slideDown 1s ease-in-out forwards;*/
    border-style: solid;
    backdrop-filter: blur(6px);
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #444444;
    border-radius: 7px;
    box-shadow: 0px 0px 50px 5px rgb(42, 42, 42);
}

.login-container, .register-container {
    background-color: #d5d6db;
    padding: 25px;
    border-radius: 0px 0px 7px 7px;
    width: 400px;
    text-align: center;
    margin-bottom: 0px;
}

.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    width: 75%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #444444;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    background-color: #eaebf1;
}

input[type="submit"] {
    width: 75%;
    padding: 10px;
    margin: 0px 0;
    border: none;
    border-radius: 5px;
    /*background-color: #5c67a3;*/
    background-color: #238636;
    border-color: rgba(240,246,252,0.1);
    color: white;
    cursor: pointer;

    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

#close-button {
    margin-bottom: 13px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
}

#error-text {
    margin-left: 15px;
}

#login-form {
    text-align: center;
}

#error-message {
    /* background-color: rgba(255, 0, 0, 0.3);*/
    background-color: #ffacbc;
    width: 75%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: auto;
    border-radius: 7px;
    border-style: solid;
    border-color: #f7768e;
    border-width: 1px;
    font-size: 14px;
    display: flex;
}

#login-button {
    margin-bottom: 20px;
    margin-top: 10px;
}

#login-button:hover {
    background-color: #2ea043;
    border-color: rgba(240,246,252,0.1);
}

#login-button:active {
    background-color: #238636;
}

button:hover{
    background-color: #4a5480;
}


a{
    color: #2f81f7;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }

 /* TABLE STYLESHEETS */
 .header tr{
    width:50%;
}