
@keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

body{
    font-family: Arial, sans-serif;
    background-color: #103619;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-title {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}

.main-window {
    display: block
}

.login-container, .register-container{
    animation: slideDown 1s ease-in-out forwards;
    background-color: #d0e7fd;
    padding: 25px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}


input[type="text"],
input[type="password"],
input[type="email"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #111111;
    border-radius: 5px;
    box-sizing: border-box;
}


button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #5c67a3;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #4a5480;
}


a{
    color: #5c67a3;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
