{% extends "page.html" %}
{% block title %}Horoscope{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<h1>
    About the project:
</h1>
<p>

This is a weather repository created by Noah Lee, Warren Kozak, Daya Tucker and Jeremiah Dawson as the final project for CS 257 Software Design taught by Matt Lepinski (March 7th 2024).

In order to run this program, on a stearns server, run the file app.py in the terminal. To view the website, go to a browser and paste the following url: http://stearns.mathcs.carleton.edu:5127/

This project was done using a Flask python API, PSQL, HTML, CSS and JavaScript. The data used for this project was downloaded from kaggle - https://www.kaggle.com/datasets/nelgiriyewithana/global-weather-repository and the map used in map.html uses google maps existing technology. 

With this website, users are able to view past weather data on map and table form, as well as calculate an arbitrary 'horroscope' value, using weather data calculated with their birthday and birthplace.
</p>
{% endblock %}