<!-- THIS WAS MADE BY NOAH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WheatherBase Home</title>
    <!-- LEAFLET LIBRARY FOR MAP -->
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <!-- JQUERY LIBRARY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="top-bar roboto-regular">
        <div class="logo">WheatherBase</div>
        <div class="nav-links">
            <a href="#current">Current</a>
            <a href="#map">Map</a>
            <a href="#forecast">Forecast</a>
            <a href="#about">About</a>
            <a href="#profile">{{username}}</a>
        </div>
    </div>
    <div class="main-content">
        <div id="info-wrapper">
            <p id="location">Location: </p>
        </div>
        <div id="map-wrapper">
            <div id="map"></div>
        </div>
        
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/static/scripts.js"></script>

</body>
</html>