<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WheatherBase Home</title>
    <link rel="stylesheet" href="/static/style.css">

    <!-- LINKS TO LEAFLET LIBRARY -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" /> 

</head>
<body>
    <div class="top-bar">
        <div class="logo">WheatherBase</div>
        <div class="nav-links">
            <a href="#current">Current</a>
            <a href="#map">Map</a>
            <a href="#forecast">Forecast</a>
            <a href="#about">About</a>
            <a href="#profile"">{{username}}</a>
        </div>
    </div>
    <div class="main-content">
        <div id="map"></div>
        <!-- Add more content here for weather conditions and forecast -->
        <p>
            Welcome to your homepage!
        </p>
    </div>

    <!-- LINKS TO LEAFLET LIBRARY -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script src="/static/scripts.js"></script>
</body>
</html>