{% extends "page.html" %}
{% block title %}Horoscope{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="horroscope-body">
<h1 id="horroscope-header">Get a Weather-based Horroscope!</h1>
<div class="form-container">
    <form action="horoscope.html" method="get">
        <div class="form-input">
            <label for="birthdate">Birthdate:</label>
            <input type="date" id="birthdate" name="birthdate" value="2024-01-01" required >
        </div>
        <div class="form-input">
            <label for="birthplace">Birthplace:</label>
            <div id="searchbar-and-suggestions">
                <input id="horro-searchbar" type="text" placeholder="Put a new country...">
                <div id="horro-suggestions"></div>
            </div>
            <!-- <input type="text" id="birthplace" name="birthplace" required> -->
        </div>
        <div class="form-input">
            <button type="submit">Get Horoscope</button>
        </div>
    </form>
</div>
</div>
<script src="/static/searchbar_scripts.js"></script>
{% endblock %}