{% extends "page.html" %}
{% block title %}Horoscope{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="horroscope-body">
<h1 id="horroscope-header">Get a Weather-based Horroscope!</h1>
<div class="form-container">
    <form action="horoscope.html" method="post">
        <div class="form-input">
            <label for="birthdate">Birthdate:</label>
            <input type="date" id="birthdate" name="birthdate" required>
        </div>
        <div class="form-input">
            <label for="birthplace">Birthplace:</label>
            <input type="text" id="birthplace" name="birthplace" required>
        </div>
        <div class="form-input">
            <button type="submit">Get Horoscope</button>
        </div>
    </form>
</div>
</div>
{% endblock %}