<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WheatherBase - Horroscopes</title>
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
</head>
<body>
    <div class="top-bar roboto-regular">
        <div class="logo">WheatherBase</div>
        <div class="nav-links">
            <a href="#current">Current</a>
            <a href="#map">Map</a>
            <a href="/user/{{username}}/horoscopes">Horoscopes</a>
            <a href="#about">About</a>
            <a href="#profile">{{username}}</a>
        </div>
    </div>
    <h2>bitch</h2>
</body>
</html>