<!DOCTYPE html>
<html>
 
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap" rel="stylesheet">
</head>
 
<body id="login-body">
    
    <div class="body-div">
        <div class="window-container">
            <div class="main-window roboto-regular">
                <div class="login-title">
                    <h2>WheatherBase</h2>
                </div>
                <div class="login-container">
                    <h2>Sign in</h2>
                    <form action="/submit" method="POST" id="login-form">
                        <input type="text" id="username" name="username" placeholder="Username"><br>
                        <input type="password" id="password" name="password" placeholder="Password"><br>
                        {% if incorrect_pass %}
                        <div id="error-message">
                            <p>Incorrect username or password.</p>
                            <a onclock="closeError()" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" id="close-button" viewBox="0 0 16 16" width="16" height="16"><path d="M3.72 3.72a.75.75 0 0 1 1.06 0L8 6.94l3.22-3.22a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L9.06 8l3.22 3.22a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L8 9.06l-3.22 3.22a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L6.94 8 3.72 4.78a.75.75 0 0 1 0-1.06Z"></path></svg>
                            </a>
                        </div>
                        {% endif %}
                        <input type="submit" name="login" value="Sign in" id="login-button">
                        <p>Don't have an account? <a href="/register">Register</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer roboto-regular">
        <p>Github | SoftDS4L | Contact</p>
    </div>

    <script src="/static/scripts.js"></script>
</body>
 
</html>