<!DOCTYPE html>
<html>
 
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
 
<body>
    <div class="main-window">
    <div class="login-title">
        <h2>WheatherBase</h2>
    </div>
    <div class="login-container">
    <h2>Login</h2>
    <form action="/submit" method="POST">
	<input type="text" id="username" name="username"><br>
	<input type="password" id="password" name="password"><br>
	<p>{{loginText}}</p>
	<input type="submit" name="login" value="login">
    </form>
    </div>
    </div>
    <br>
</body>
 
</html>
