<!-- Contributors: Noah -->
{% extends "page.html" %}
{% block title %}Map{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}
{% block content %}
    
    <div id="map-body">
    <div id="info-wrapper">
        <p id="location">Location: </p>
        <div id="searchbar-and-suggestions">
            <input id="country-searchbar" type="text" placeholder="Put a new country...">
            <div id="search-suggestions"></div>
        </div>
        <input id="calendar" type="date" name="calendar" min="2023-08-28" max="2024-01-28" value="2024-01-01"/>
    </div>
    <div id="flex-container">
        
        <div id="left-sidebar">
            <input id="calendar" type="date" name="calendar" value="2024-01-01" />
            <p id="location">Location: </p>
            <h1>Weather Data:</h1>
            <div class="data-box weather-text">
                <h4>Temperature:</h4>
                <h4 id="temp-val"></h4>
            </div>
            <div class="data-box weather-text">
                <h4>Wind:</h4>
                <h4 id="wind-val"></h4>
            </div>
            <div class="data-box weather-text">
                <h4>Precipitation:</h4>
                <h4 id="precip-val"></h4>
            </div>
            <div class="data-box weather-text">
                <h4>Sunrise:</h4>
                <h4 id="sunrise-val"></h4>
            </div>
            <div class="data-box weather-text">
                <h4>Sunset:</h4>
                <h4 id="sunset-val"></h4>
            </div>
            <div class="data-box weather-text">
                <h4>Moon phase:</h4>
                <h4 id="moon-val"></h4>
            </div>
        </div>
        <div id="map-wrapper">
            <div id="map"></div>
        </div>
        <h4 id="secret-country">{{currentCountry}}</h4>
    </div>
    </div>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/searchbar_scripts.js"></script>
    <script src="/static/calendarScript.js"></script>
{% endblock %}