<!-- Contributors: Noah -->
{% extends "page.html" %}
{% block title %}Map{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}
{% block content %}
    
    <div id="map-body">
    <div id="info-wrapper">
        <p id="location">Location: </p>
        <div id="searchbar-and-suggestions">
            <input id="country-searchbar" type="text" placeholder="Put a new country...">
            <div id="search-suggestions"></div>
        </div>
        <input id="calendar" type="date" name="calendar" value="2024-01-01" min="29-08-2023" max="21-08-2024"/>
    </div>
    <div id="flex-container">
        <div id="left-sidebar">
            <h1>Weather Data:</h1>
            <div class="data-box">
                <h4 class="weather-text">Temperature:</h4>
                <h4 id="temp-val"></h4>
            </div>
            <div class="data-box">
                <h4 class="weather-text">Wind:</h4>
                <h4 id="wind-val"></h4>
            </div>
            <div class="data-box">
                <h4 class="weather-text">Precipitation:</h4>
                <h4 id="precip-val"></h4>
            </div>
            <div class="data-box">
                <h4 class="weather-text">Sunrise:</h4>
                <h4 id="sunrise-val"></h4>
            </div>
            <div class="data-box">
                <h4 class="weather-text">Sunset:</h4>
                <h4 id="sunset-val"></h4>
            </div>
            <div class="data-box">
                <h4 class="weather-text">Moon phase:</h4>
                <h4 id="moon-val"></h4>
            </div>
        </div>
        <div id="map-wrapper">
            <div id="map"></div>
        </div>
    </div>
    </div>  
    <h4 id="secret-country">{{currentCountry}}</h4>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/searchbar_scripts.js"></script>
    <script src="/static/calendarScript.js"></script>
{% endblock %}