<!DOCTYPE html>
<html>
 
<head>
    <title>Log-in</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
 
<body class="home">
    
  <div class="login-container">
    <h2>Login</h2>
    <form action="/submit-login" method="post">
        <input type="text" placeholder="Username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <p>Not registered? <a href="/register">Create an account</a></p>
  </div>

</body>
 
</html>
