<!doctype html>
<html>
    <head>
        {% block head %}        
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}{% endblock %} - WheatherBase</title>
        {% endblock %}
    </head>
    <body>
        <div class="top-bar roboto-regular">
            <div class="logo">WheatherBase</div>
            <div class="nav-links">
                <a href="/user/{{username}}/home.html"       class="{{home}}">Home</a>
                <a href="/user/{{username}}/map.html"        class="{{map}}">Map</a>
                <a href="/user/{{username}}/table.html"        class="{{table}}">Table</a>
                <a href="/user/{{username}}/horoscope.html"  class="{{horoscope}}">Horoscope</a>
                <a href="/user/{{username}}/about.html"      class="{{about}}">About</a>
                <a href="/user/{{username}}/profile.html"    class="{{profile}}">{{username}}</a>
            </div>
        </div>
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
        <script src="/static/init_maps.js"></script>
    </body>
</html>