{% extends "page.html" %}
{% block title %}Table{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="main-content">
      <div id="searchbar-and-suggestions"></div>
      <input id="country-searchbar2" type="text" placeholder="Put a new country...">   
    <div id="search-suggestions2"></div>
  </div>
  <input id="calendar2" type="date" name="calendar" value="2024-01-01" />
            <table id="myTable" onload="initializeTable()">
              <tr class="header">
                <th>Country</th>
                <th>Location Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Timezone</th>
                <th>Last Updated</th>
                <th>Wind mph</th>
                <th>Wind Degree</th>
                <th>Wind Direction</th>
                <th>Gust mph</th>
                <th>Temperature F</th>
                <th>Feels Like F</th>
                <th>Pressure in</th>
                <th>Precip in</th>
                <th>Humidity</th>
                <th>Cloud</th>
                <th>Visibility miles</th>
                <th>UV Index</th>
                <th>Condition</th>
                <th>CO</th>
                <th>Ozone</th>
                <th>NO2</th>
                <th>SO2</th>
                <th>PM25</th>
                <th>PM10</th>
                <th>EPA</th>
                <th>Defra</th>
                <th>Sunrise</th>
                <th>Sunset</th>
                <th>Moonrise</th>
                <th>Moonset</th>
                <th>Moonphase</th>
                <th>Moon Illumination</th>

                {{DropdownOptions|safe}}
              <!--
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Berglunds snabbkop</td>
                <td>Sweden</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Koniglich Essen</td>
                <td>Germany</td>
              </tr>
            -->

            </table>
        <!-- Add more content here for weather conditions and forecast -->
        <!-- STEP 1: CREATE A JAVA SCRIPT FUNCTION THAT ADDS ALL THE RELEVANT ROWS TO THE TABLE AND THEN ADD THE DATA-->
        <!-- STEP 2: CREATE FILTER BUTTONS NEXT TO THE TABLE THAT WHEN PRESSED, CALLS A JAVA SCRIPT FUNCTION-->
        <!-- STEP 3: THE JAVA SCRIPT FUNCTION WILL REMOVE ALL THE ROWS AND RE-ADD THE NEW ROWS WITH THE DATA. -->
       
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/searchbar_scripts.js"></script>
    <script src="/static/calendarScript.js"></script>
    <script src="/static/tableScripts.js"></script>
{% endblock %}