<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WheatherBase Home</title>
    <link rel="stylesheet" href="/static/style.css">

    <!-- LINKS TO LEAFLET LIBRARY -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" /> 

</head>
<body>
    <script src="/static/tableScripts.js"></script>
    <div class="top-bar">
        <div class="logo">WheatherBase</div>
        <div class="nav-links">
            <a href="#current">Current</a>
            <a href="#map">Map</a>
            <a href="#forecast">Forecast</a>
            <a href="#about">About</a>
            <a href="#profile">{{username}}</a>
        </div>
    </div>
    <div class="main-content">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
            <table id="myTable" onload="initializeTable()">
              <tr class="header">
                <th style="width:60%;">Name</th>
                <th style="width:40%;">Country</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Berglunds snabbkop</td>
                <td>Sweden</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Koniglich Essen</td>
                <td>Germany</td>
              </tr>
            </table>
        <div id="map"></div>
        <!-- Add more content here for weather conditions and forecast -->
        <!-- STEP 1: CREATE A JAVA SCRIPT FUNCTION THAT ADDS ALL THE RELEVANT ROWS TO THE TABLE AND THEN ADD THE DATA-->
        <!-- STEP 2: CREATE FILTER BUTTONS NEXT TO THE TABLE THAT WHEN PRESSED, CALLS A JAVA SCRIPT FUNCTION-->
        <!-- STEP 3: THE JAVA SCRIPT FUNCTION WILL REMOVE ALL THE ROWS AND RE-ADD THE NEW ROWS WITH THE DATA. -->
       
    </div>
    
</body>
</html>
